apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: trcshk-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: StatefulSet
    name: trcshk

  metrics:
  - type: Resource
    resource:
      name: cpu
      targetAverageUtilization: 80
  minReplicas: 1
  maxReplicas: 10