{{or .certData "data"}}
{{or .certHost "pkc-ldvmy.centralus.azure.confluent.cloud"}}
{{or .certSourcePath "certs/public/ENV/kafka-confluent.pem"}}
{{or .certDestPath "local_config/kafka-confluent.pem"}}
