{{or .certData "data"}}
{{or .certHost "psrc-4r0k9.westus2.azure.confluent.cloud"}}
{{or .certSourcePath "certs/public/ENV/schema-confluent.pem"}}
{{or .certDestPath "local_config/schema-confluent.pem"}}
