terraform import azurerm_resource_group.rg /subscriptions/{.tierceron_subcription}/resourceGroups/{.subresource_group_name}
terraform import azurerm_resource_group.virtual-network /subscriptions/{.tierceron_subcription}/resourceGroups/{.subresource_group_name}
terraform import azurerm_resource_group.vm-subnet /subscriptions/{.tierceron_subcription}/resourceGroups/{.subresource_group_name}
terraform import azurerm_resource_group.db-subnet /subscriptions/{.tierceron_subcription}/resourceGroups/{.subresource_group_name}
