terraform import azurerm_resource_group.rg /subscriptions/{{.tierceron_subcription}}/resourceGroups/{{.resource_group_name}}
terraform import azurerm_virtual_network.virtual-network /subscriptions/{{.tierceron_subcription}}/resourceGroups/{{.VN_rg_name}}/providers/Microsoft.Network/virtualNetworks/{{.tierceron_vnet}}
terraform import azurerm_subnet.vm-subnet /subscriptions/{{.tierceron_subcription}}/resourceGroups/{{.VN_rg_name}}/providers/Microsoft.Network/virtualNetworks/{{.tierceron_vnet}}/subnets/{{.tierceron_vnet_subnet}}
terraform import azurerm_subnet.db-subnet /subscriptions/{{.tierceron_subcription}}/resourceGroups/{{.VN_rg_name}}/providers/Microsoft.Network/virtualNetworks/{{.tierceron_vnet}}/subnets/{{.DB_subnet_name}}
