variable "environment" {
  default = "Develop"
}

variable "resource_group_location" {
  default     = "westus2"
  description = "Location of the resource group."
}

variable "resource_group_name" {
  default = {{.resource_group_name}}
}

variable "vault_vm_size" {
  default = {{.vault_vm_size}}
}

variable "org_name" {
  type    = string
  default = {{.org_name}}
}

# Using heredoc '<<' in terraform doesn't
# allow for terraforms variable substitution.
# This will bypass that limitation in the
# install script.
variable "write_service" {
  type    = string
  default = "<<"
}

variable "mysql_backup_retention_days" {
  type    = number
  default = 30
}