# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vault_properties.hcl
vendor
trcUI/**
trc_seeds/**
bin/trc*
bin/api*
.idea/
.vscode/
.DS_Store

# Confidential resource dependencies for running vault in aws and azure
trcinit/vaultfiles/resources/**
