# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vault_properties.hcl
vendor
trcUI/**
trc_seeds/**
bin/trc*
bin/api*
bin
.idea/

.DS_Store
*.log
trcinit/vaultfiles/azure/.terraform/

# Scrub any confidential information from aws and azure config directories
trcinit/vaultfiles/azure/vault/**
trcinit/vaultfiles/azure/resources/**
trcinit/vaultfiles/azure/trc_seeds/**
trcinit/vaultfiles/azure/confidential_vars.tf
trcinit/vaultfiles/azure/terraform.tfstate
trcinit/vaultfiles/azure/main.tfplan
trcinit/vaultfiles/azure/terraform.tfstate.backup
trcinit/vaultfiles/azure/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.99.0/linux_amd64/terraform-provider-azurerm_v2.99.0_x5
trcinit/vaultfiles/azure/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.2/linux_amd64/terraform-provider-azurerm_v3.0.2_x5
trcinit/vaultfiles/azure/.terraform/providers/registry.terraform.io/hashicorp/random/3.1.2/linux_amd64/terraform-provider-random_v3.1.2_x5
trcinit/vaultfiles/azure/.terraform/providers/registry.terraform.io/hashicorp/tls/3.3.0/linux_amd64/terraform-provider-tls_v3.3.0_x5
trcinit/vaultfiles/azure/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/linux_amd64/terraform-provider-template_v2.2.0_x4
trcinit/vaultfiles/azure/.terraform.lock.hcl
trcinit/vaultfiles/aws/.terraform.lock.hcl
trcinit/vaultfiles/aws/.terraform/providers/registry.terraform.io/hashicorp/aws/4.10.0/linux_amd64/terraform-provider-aws_v4.10.0_x5
trcinit/vaultfiles/azure/private_key.pem
installation/trclocal/*.pem
trcinit/vaultfiles/azure/variables.tf
trcinit/vaultfiles/azure/.terraform/providers/registry.terraform.io/hashicorp/local/2.2.2/linux_amd64/terraform-provider-local_v2.2.2_x5
bin/nc.h
trcinit/vaultfiles/azure/resources/README.txt

plugins/deploy/target/
trcvault/trc_seeds/

tierceron.iml
trcvault/deploy/deploy_dev.sh
atrium/speculatio/spiralis/tls/mashup.*
atrium/speculatio/fenestra/tls/mashup.*
atrium/speculatio/spiralis/__debug_bin
atrium/speculatio/fenestra/__debug_bin
atrium/vestibulum/pluginutil/__debug*
atrium/vestibulum/pluginutil/pluginutil_test.go
pkg/core/util/cert/certutil_test.go

cmd/shell/deploy/trc_seeds/*

go.work*
.vscode/*

atrium/vestibulum/trcchatproxy/.vscode/*
atrium/plugins/*
atrium/.vscode/*

installation/trclocal/tls/cert.*

installation/trclocal/trchelloworld/deploy/*.trc
installation/trclocal/trchelloworld/deploy/*.yaml
installation/trclocal/trchelloworld/deploy/*/*.trc

installation/trcshhive/trcsh-cursor/trc_seeds/*

installation/trccarrier/deploy/
installation/trccarrier/trc_seeds/
installation/trcsh-curator/deploy/
installation/trcsh-curator/trc_seeds/
installation/trcagent/trc_seeds/
installation/trcagent/setup.cmd
installation/trcagent/install.sh
installation/trccloud/terraform/azure/kubeboot/*.tf
installation/trccloud/terraform/azure/kubeboot/*.sh
installation/trccloud/terraform/azure/kubeboot/scripts/

buildopts/saltyopts/saltguard.txt
zeroconfiglib/zccommon/zccommon_test.go

