# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
vault_properties.hcl
vendor
trcUI/**
trc_seeds/**
bin/trc*
bin/api*
bin
.idea/
.vscode/
.DS_Store
*.log
trcinit/vaultfiles/azure/.terraform/

# Scrub any confidential information from aws and azure config directories
trcinit/vaultfiles/azure/vault/**
trcinit/vaultfiles/azure/resources/**
trcinit/vaultfiles/azure/trc_seeds/**
trcinit/vaultfiles/azure/confidential_vars.tf
trcinit/vaultfiles/azure/terraform.tfstate
trcinit/vaultfiles/azure/main.tfplan
trcinit/vaultfiles/azure/terraform.tfstate.backup
trcinit/vaultfiles/azure/.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.99.0/linux_amd64/terraform-provider-azurerm_v2.99.0_x5
trcinit/vaultfiles/azure/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.2/linux_amd64/terraform-provider-azurerm_v3.0.2_x5
trcinit/vaultfiles/azure/.terraform/providers/registry.terraform.io/hashicorp/random/3.1.2/linux_amd64/terraform-provider-random_v3.1.2_x5
trcinit/vaultfiles/azure/.terraform/providers/registry.terraform.io/hashicorp/tls/3.3.0/linux_amd64/terraform-provider-tls_v3.3.0_x5
trcinit/vaultfiles/azure/.terraform/providers/registry.terraform.io/hashicorp/template/2.2.0/linux_amd64/terraform-provider-template_v2.2.0_x4
trcinit/vaultfiles/azure/.terraform.lock.hcl
trcinit/vaultfiles/aws/.terraform.lock.hcl
trcinit/vaultfiles/aws/.terraform/providers/registry.terraform.io/hashicorp/aws/4.10.0/linux_amd64/terraform-provider-aws_v4.10.0_x5
trcinit/vaultfiles/azure/private_key.pem
trcinit/vaultfiles/azure/variables.tf
trcinit/vaultfiles/azure/.terraform/providers/registry.terraform.io/hashicorp/local/2.2.2/linux_amd64/terraform-provider-local_v2.2.2_x5
bin/nc.h
trcinit/vaultfiles/azure/resources/README.txt

trcvault/deploy/target/
trcvault/trc_seeds/

tierceron.iml
trcvault/deploy/deploy_dev.sh
trcgorillaz/trcdatavisualizer/__debug_bin
trcgorillaz/ttdivisualizer/tls/mashup.*
trcgorillaz/ttdiserver/tls/mashup.*
trcgorillaz/ttdivisualizer/__debug_bin
trcgorillaz/ttdiserver/__debug_bin



