go 1.24.3

use ./atrium

use ./atrium/vestibulum/hive/plugins/trcfenestra

use ./atrium/vestibulum/hive/plugins/trcspiralis

use ./atrium/vestibulum/hive/plugins/trcshtalk

use ./atrium/vestibulum/hive/plugins/trcmutabilis

use ./atrium/vestibulum/hive/plugins/trcvico

use ./atrium/vestibulum/hive/plugins/trcrosea

use ./atrium/vestibulum/hive/plugins/trcviride

use ./atrium/vestibulum/hive/plugins/trcdb

use ./atrium/vestibulum/trcchatproxy
