apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: trcshk
  annotations:
    seccomp.security.alpha.kubernetes.io/trcshk: runtime/default
  labels:
    env: dev
    application_type: service
spec:
  replicas: {{.deploy_REPLICAS}}
  selector:
    matchLabels:
      app: trcshk
  serviceName: trcshk
  template:
    metadata:
      labels:
        app: trcshk
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: {{.deploy_node_pool}}
                  operator: In
                  values:
                  - trcshkpool
      containers:
        - name: trcshk
          image: {{.deploy_REGISTRY_URL}}/trcshk:${TAG}
          imagePullPolicy: Always
          readinessProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:{{.deploy_trcshk_PORT}}", "-tls", "-tls-no-verify"]
            initialDelaySeconds: 5
            timeoutSeconds: 5
          livenessProbe:
            exec:
              command: ["/bin/grpc_health_probe", "-addr=:{{.deploy_trcshk_PORT}}", "-tls", "-tls-no-verify"]
            initialDelaySeconds: 15
            periodSeconds: 15
            timeoutSeconds: 5
          ports:
            - name: healthcheck
              containerPort: {{.deploy_trcshk_PORT}}
          lifecycle:
            preStop:
              exec:
                command: ["rm", "/tmp/trcshk.pid" ]
          resources:
            requests:
              memory: "1Gi"
              cpu: "250m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
          workingDir: /usr/local/trcshk
          volumeMounts:
            - name: trcshk-data-volume
              mountPath: /usr/local/trcshk/data
            - name: trcshk-plugins-volume
              mountPath: /usr/local/trcshk/plugins
            - name: trcshk-app-volume
              mountPath: /usr/local/trcshk/config.yml
              subPath: config.yml
          securityContext:
            allowPrivilegeEscalation: false
            runAsGroup: 1575
            runAsNonRoot: true
            runAsUser: 1575
            capabilities:
              add: [ "CAP_IPC_LOCK" ]
      volumes:
        - name: trcshk-data-volume
          emptyDir: {}
        - name: trcshk-plugins-volume
          emptyDir: {}
        - name: trcshk-app-volume
          configMap:
            name: trcshk-application-config
        - name: trcshk-newrelic-volume
          configMap:
            name: trcshk-newrelic-config
---
apiVersion: v1
kind: Service
metadata:
  name: trcshk
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-ipv4: {{.deploy_LB_IP}}
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"
    service.beta.kubernetes.io/azure-pls-create: "true"
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  ports:
  - name: healthcheck
    port: {{.deploy_trcshk_PORT}}
  selector:
    app: trcshk

