variable "host" {
  type = string
  default = {{.host}}
}

variable "hostport" {
  type = string
  default= {{.hostport}}
}

variable "allowed_ips" {
  type    = string
  default = {{.allowed_ips}}
}

variable "dest_port_range" {
  type    = string
  default = {{.dest_port_range}}
}

variable "security_software_script_path"{
  type = string
  default = {{.security_software_script_path}}
}

variable "security_software_name"{
  type = string
  default = {{.security_software_name}}
}

variable "script_cidr_block" {
  type    = string
  default = {{.script_cidr_block}}
}

variable "ssh_port" {
  type    = string
  default = {{.ssh_port}}
}

variable "mysql_admin" {
  type    = string
  default = "{{.mysql_admin}}"
}

variable "mysql_admin_password" {
  type    = string
  default = "{{.mysql_admin_password}}"
}

variable "dbaddress" {
  type    = string
  default = "{{.dbaddress}}"
}

variable "dbzone" {
  type    = string
  default = "{{.dbzone}}"
}

variable "tierceronzone" {
  type    = string
  default = "{{.tierceronzone}}"
}

variable "tierceronname" {
  type    = string
  default = "{{.tierceronname}}"
}

