API_MANAGEMENT_SERVICE_NAME: {{ .API_MANAGEMENT_SERVICE_NAME }}
API_URL: {{ .API_URL }}
SUBSCRIPTION_ID: {{ .SUBSCRIPTION_ID }}
RESOURCE_GROUP_NAME: {{ .RESOURCE_GROUP_NAME }}
SERVICE_NAME: {{ .SERVICE_NAME }}
API_NAME: {{ .API_NAME }}
API_PATH: {{ .API_PATH }}
azureClientId: {{ .azureClientId }}
azureClientSecret: {{ .azureClientSecret }}
azureTenantId: {{.azureTenantId }}
API_TITLE: {{.API_TITLE }}
CERTIFICATE_PASSWORD: {{.CERTIFICATE_PASSWORD }}
