azure_openapi_key_1: {{or .azure_openapi_key_1 "18291"}}
azure_openapi_key_2: {{or .azure_openapi_key_2 "18291"}}
azure_openapi_region: {{or .azure_openapi_region "18291"}}
azure_openapi_endpoint: {{or .azure_openapi_endpoint "18291"}}