llm_enabled: {{or .llm_enabled false}}
llm_provider: {{or .llm_provider "ollama"}}
llm_command: {{or .llm_command "/usr/bin/ollama"}}
llm_api_url: {{or .llm_api_url "http://127.0.0.1:11434"}}
llm_listen_address: {{or .llm_listen_address "127.0.0.1:11434"}}
llm_model: {{or .llm_model ""}}
llm_models_path: {{or .llm_models_path ""}}
llm_autostart: {{or .llm_autostart false}}
llm_pull_model_on_start: {{or .llm_pull_model_on_start false}}
llm_start_timeout_seconds: {{or .llm_start_timeout_seconds 30}}
llm_health_endpoint: {{or .llm_health_endpoint "/api/tags"}}