local_model_path: {{or .local_model_path "/usr/local/trcshk/models/model.gguf"}}
local_model_backend: {{or .local_model_backend "cpu"}}
local_model_max_tokens: {{or .local_model_max_tokens "256"}}
local_model_temperature: {{or .local_model_temperature "0.2"}}
local_model_top_k: {{or .local_model_top_k "40"}}
local_model_top_p: {{or .local_model_top_p "0.9"}}