variable "resource_group_name" {
  type = string
  default = "{{.resource_group_name}}"
}

variable "resource_group_name_trg" {
  type = string
  default = "{{.resource_group_name_trg}}"
}

variable "dnsprefix" {
  type = string
  default = "{{.dnsprefix}}"
}

variable "node_count" {
  type = number
  default = {{.node_count}}
}

variable "VN_name" {
  type = string
  default = "{{.VN_name}}"
}

variable "VN_subnet_name" {
  type = string
  default = "{{.VN_subnet_name}}"
}

variable "Kube_version" {
  type = string
  default = "{{.Kube_version}}"
}

variable "locationCode" {
  type = string
 default = "{{.locationCode}}"
}

variable "envshort" {
  type = string
 default = "{{.envshort}}"
}

variable "cluster_name" {
  type = string
  default = "{{.cluster_name}}"
}