az aks command invoke   --resource-group {{.kuberg}}   --name {{.kubename}}   --command "kubectl -n kube-system get configmap coredns -o go-template={{.data.Corefile}}" > corednsconfig.yml
sed -e 's/loadbalance/loadbalance\nhosts /etc/coredns/customdomains.db k8s.intra {\n{{.tierceron_vm_ip}} {{.tierceron_vm_host}}\nfallthrough\n}\n/'
az aks command invoke   --resource-group {{.kuberg}}    --name {{.kuberg}}    --command "kubectl apply -f corednsconfig.yaml"
