az aks command invoke   --resource-group {{.kuberg}}   --name {{.kubename}}   --command "kubectl -n kube-system get configmap coredns -o yaml" > corednsconfig.yml
sed -i 's/loadbalance/loadbalance\n        hosts \/etc\/coredns\/customdomains.db k8s.intra {\n        {{.tierceron_vm_ip}} {{.tierceron_vm_host}}\n        fallthrough\n}\n/' corednsconfig.yml
az aks command invoke   --resource-group {{.kuberg}}    --name {{.kuberg}}    --command "kubectl apply -f corednsconfig.yaml"
