az aks command invoke   --resource-group {{.kuberg}}   --name {{.kubename}}   --command "kubectl apply -f customdnsresolve.yml" --file scripts/customdnsresolve.yml
az aks command invoke   --resource-group {{.kuberg}}   --name {{.kubename}}   --command "kubectl apply -f loadbalancer.yml" --file scripts/loadbalancer.yml
az aks command invoke   --resource-group {{.kuberg}}   --name {{.kubename}}   --command "kubectl apply -f ingress.yml" --file scripts/ingress.yml
