env: {{.env}}
kafka_agnostic_username: {{.kafka_agnostic_username}}
kafka_agnostic_password: {{.kafka_agnostic_password}}
schemaRegistryUrl: {{.schemaRegistryUrl}}
schemaRegistryUsername: {{.schemaRegistryUsername}}
schemaRegistryPassword: {{.schemaRegistryPassword}}
bootstrapServers: {{.bootstrapServers}}
encryptionSecret: {{.encryptionSecret}}
lastTestedDate: {{.lastTestedDate }}
windowHour: {{.windowHour }}