#!/bin/bash -e

# Using heredoc '<<'' in terraform doesn't
# allow for terraform variable substitution.
# it's neccessary to insert '<<' as a variable
# to add the host and host port to the script.
# ${write_service} serves this purpose.
cat << EOF >/tmp/upstart
[Unit]
Description=Docker Registry
After=docker.service

[Service]
User={{.tierceron_docker_user}}
Group={{.tierceron_docker_group}}
Restart=always
RestartSec=5
Environment="NAME={{.tierceron_registry_name}}"
Environment="HTTP_ADDR=0.0.0.0:{{.tierceron_registry_port}}" 
ExecStart=/usr/bin/docker run -d -p $HTTP_ADDR --name $NAME registry:2

[Install]
WantedBy=multi-user.target

EOF
sudo mv /tmp/upstart /lib/systemd/system/tierceron-registry.service
sudo chown root:root /lib/systemd/system/tierceron-registry.service
sudo chmod 0644 /lib/systemd/system/tierceron-registry.service

# Start Vault
sudo systemctl enable /lib/systemd/system/tierceron-registry.service
