# If we start plugin as a mysql interface....
dbport: {{.dbport}}
dbuser: {{.dbuser}}
dbpassword: {{.dbpassword}}
controllerdbport: {{.controllerdbport}}
controllerdbuser: {{.controllerdbuser}}
controllerdbpassword: {{.controllerdbpassword}}
cidrblock: {{.cidrblock}}
maxconn: {{or .maxconn "100"}}
