dbsourceregion: {{.dbsourceregion}}
dbsourceurl: {{.dbsourceurl}}
dbsourceuser: {{.dbsourceuser}}
dbsourcepassword: {{.dbsourcepassword}}
dbencryptionSecret: {{.dbencryptionSecret}}
dbingestinterval: {{.dbingestinterval or "60000"}}
