mysqldburl: {{.mysqldburl}}
mysqldbuser: {{.mysqldbuser}}
mysqldbpassword: {{.mysqldbpassword}}
# If we start plugin as a mysql interface....
dbuser: {{.dbuser}}
dbpassword: {{.dbpassword}}
maxconn: {{or .maxconn "100"}}
# Secret used for decrypting 
encryptionSecret = {{.encryptionSecret}}

# Trimble Domain, client id, and client secret
trimbleDomain = {{.trimbleIdDomain}}
trimbleClientId = {{.trimbleClientId}}
trimbleClientSecret = {{.trimbleClientSecret}}

# Construction Management Services
cmsDomain = {{.cmsDomain}}
