trcHatEncryptPass      {{.trcHatEncryptPass}}
trcHatEncryptSalt      {{.trcHatEncryptSalt}}
trcHatEnv              {{.trcHatEnv}}
trcHatHandshakeCode    {{.trcHatHandshakeCode}}
trcHatHandshakePort    {{.trcHatHandshakePort}}
trcHatHost             {{.trcHatHost}}
trcHatSecretsPort      {{.trcHatSecretsPort}}