trcshencryptpass: {{.trcshencryptpass}}
trcshencryptsalt: {{.trcshencryptsalt}}
trcshhost: {{.trcshhost}}
trcshfeatherport: {{.trcshfeatherport}}
trcshsecretsport: {{.trcshsecretsport}}
trcshfeatherhcode {{.trcshfeatherhcode}}
trcshenv: {{.trcshenv}}