trc-hat-encryptpass: {{.trcHatEncryptPass}}
trc-hat-encryptsalt: {{.trcHatEncryptSalt}}
trc-hat-host: {{.trcHatHost}}
trc-hat-handshakeport: {{.trcHatHandshakePort}}
trc-hat-secretsport: {{.trcHatSecretsPort}}
trc-hat-handshakeport: {{.trcHatHandshakePort}}
trc-hat-handshakeCode: {{.trcHatHandshakeCode}}
trc-hat-env: {{.trcHatEnv}}