#!/bin/bash
# Only trcconfig commands make any sense to run as bash...
# Disable pluginservice mgmt for testing
trcplgtool -pluginservicestop 
trcplgtool -codebundledeploy -env=dev
trcplgtool -pluginservicestart -env=dev