dbsourceregion: {{.dbsourceregion}}
dbsourceurl: {{.dbsourceurl}}
dbsourceuser: {{.dbsourceuser}}
dbsourcepassword: {{.dbsourcepassword}}
dbencryptionSecret: {{.dbencryptionSecret}}
dbingestinterval: {{or .dbingestinterval "60000"}}
