<?xml version="1.0" encoding="UTF-8"?>
<!-- 
NOTE: THIS FILE IS ONLY USED FOR OPEN CLIENT IN ECLIPSE
This file holds the log4j configuration for the Open Client.
The status attribute is the log level for log4j startup messages.
The monitorInterval attribute is the seconds between checks for configuration change. 
-->
<Configuration name="{{or .name "OpenClient"}}" status="{{or .status "error"}}" monitorInterval="{{or .monitorInterval "5"}}">

   <!--
   The appenders define where the logging data is saved. Select one of these log appenders 
   for the loggers below.
   The PatternLayout defines the pattern of the data written to the log. Don't change this. 
   -->
   <Appenders>
      <!--
      This appender sends log messages to the System.out stream. 
      -->
      <Console name="{{or .Appenders_Console1_name "STDOUT"}}" target="{{or .Appenders_Console1_target "SYSTEM_OUT"}}">
         <PatternLayout pattern="{{or .Appenders_Console1_PatternLayout "%d{HH:mm:ss.SSS}%msg%n"}}" />
      </Console>

      <!--
      This appender sends log messages to the System.error stream. 
      -->
      <Console name="{{or .Appenders_Console2_name "STDERR"}}" target="{{or .Appenders_Console2_name "SYSTEM_ERR"}}">
         <PatternLayout pattern="{{or .Appenders_Console2_PatternLayout "%d{HH:mm:ss.SSS}%msg%n"}}" />
      </Console>

      <!--
      This appender will write log messages to a single log file at the path
      specified in the filename. This is intended to be used for support debugging. 
      The append attribute set false means that the log is restarted each time Open Client is started. 
      -->
      <File name="{{or .Appenders_File_name "SupportLogFile"}}" filename="{{or .Appenders_File_filename "/temp/logs/OpenClientSupport.log"}}" append="{{or .Appenders_File_append "false"}}">
         <PatternLayout pattern="{{or .Appenders_File_PatternLayout "%d{HH:mm:ss.SSS}%msg%n"}}" />
      </File>

   </Appenders>
   
   <!-- 
   The loggers define the appender and level for log messages. The level can be set to one 
   of the following:
       off - turn all logging off
       fatal - log fatal errors
       error - log errors
       warn - log warnings
       info - log information
       debug - log debug messages
       trace - log tracing messages
       all - log everything
   The levels are cumulative. E.g. if the level is set to info then it also logs warn, error
   and fatal.
   -->
   <Loggers>
      <!-- 
      Open Client logging.
      The level for this logger has the following effect:
         off - no logging.
         error - (default) logs Open Client HTTP errors
         warn - logs HTTP request retries and Open Client session timeouts
         info - logs Open Client session start, HTTP refresh, session end cleanup
         debug - logs Open Client session key creation, connection complete response data
         trace - logs HTTP request data and HTTP response data, kernel hint data,
                 reverse hint data & reverse hint strings
         all - log everything
      -->
      <Logger name="{{or .Loggers_Logger_name "com.northgateis.proiv.openclient"}}" level="{{or .Loggers_Logger_level "error"}}" additivity="{{or .Loggers_Logger_additivity "false"}}">
         <AppenderRef ref="{{or .Loggers_Logger_AppenderRef "STDOUT"}}" />
      </Logger>

      <!--
      This is the default logger and must always be here and holds the default level for
      any log message not covered by other loggers. This should be left at error level.
      -->
      <Root level="{{or .Loggers_Root_level "error"}}">
         <AppenderRef ref="{{or .Loggers_Root_AppenderRef "STDOUT"}}" />
      </Root>
   </Loggers>
   
</Configuration>