# If we start plugin as a mysql interface....
dbport: {{.dbport}}
dbuser: {{.dbuser}}
dbpassword: {{.dbpassword}}
cidrblock: {{.cidrblock}}
maxconn: {{or .maxconn "100"}}
encryptionSecret: {{.encryptionSecret}}
