# If we start plugin as a mysql interface....
dbport: {{.dbport}}
dbuser: {{.dbuser}}
dbpassword: {{.dbpassword}}
controllerdbport: {{.controllerdbport}}
controllerdbportdbuser: {{.controllerdbportdbuser}}
controllerdbportdbpassword: {{.controllerdbportdbpassword}}
cidrblock: {{.cidrblock}}
maxconn: {{or .maxconn "100"}}
