argosId: {{.argosId}}
flowGroup: {{.flowGroup}}
flowName: {{.flowName}}
mode: {{.mode}}
stateCode: {{.stateCode}}
stateName: {{.stateName}}
timeSplit: {{.timeSplit}}
lastTestedDate: {{.lastTestedDate}}