setx /M AGENT_ENV "{{.trcDeployAgentEnv}}"
setx /M AGENT_TOKEN "{{.trcDeployAgentToken}}"
setx /M DEPLOYMENTS "{{.trcDeployDeployments}}"
setx /M VAULT_ADDR "{{.trcDeployVaultAddr}}"

.\nssm.exe install TrcDeploy "{{.trcDeployExecutable}}"
.\nssm.exe set TrcDeploy AppDirectory "{{.trcDeployStartDirectory}}"
