grpc_server_port: {{or .grpc_server_port "12345"}}
grpc_server_remote_name: {{.grpc_server_remote_name}}
grpc_server_remote_port: {{.grpc_server_remote_port}}
trcshtalk_hub_name: {{.trcshtalk_hub_name}}
trcshtalk_hub_port: {{.trcshtalk_hub_port}}
server_mode: {{or .server_mode "trcshtalk"}}
ttb_token: '{{.ttb_token}}'
region: '{{.region}}'
