#!/bin/bash
# Only trcconfig commands make any sense to run as bash...
# Disable pluginservice mgmt for testing
# Register the plugin...
trcplgtool -codebundledeploy -env={{or .deploy_ENVIRONMENT "$KUBEENV"}}
# Start the plugin...
trcplgtool -pluginservicestart -env={{or .deploy_ENVIRONMENT "$KUBEENV"}}