# Plugin and sha256
trcplugin: {{.trcplugin}}
trcsha256: {{.trcsha256}}
copied: {{.copied}}
deployed: {{.deployed}}
instances: {{.instances}}
trctype: {{.trctype}}
trcprojectservice: {{.trcprojectservice}}
trcdeployroot: {{.trcdeployroot}}
trccodebundle: {{.trccodebundle}}
trcservicename: {{.trcservicename}}
trcpathparam: {{.trcpathparam}}
newrelic_app_name: {{or .newrelicAppName ""}}
newrelic_license_key: {{.newrelicLicenseKey}}
trcshexesha256: {{.trcshexesha256}}