apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{.lb_target_servicename}}-ingress
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "{{.lb_target_protocol}}"
  namespace: default
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: {{.lb_target_pathPrefix}}
        pathType: Prefix
        backend:
          service:
            name: {{.lb_target_servicename}}
            port:
              number: {{.lb_target_servicedestport}}
