@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body {
  max-width: 600px;
  margin: 0 auto;
  padding: 10vw;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

html {
  background-color: #f1f2f2 !important;
}

.box{
  width: 350px;
  margin: 0 auto;
  display: block;
  border-top: 1px solid #EDF1F4;
}
input{
  width: 97%;
  display: block;
  height: 40px;
  color: #000000;
  font-size: 15px;
  padding-left: 3%;
  border: none;
  -webkit-overflow-scrolling: touch;
}

input[type="text"] {
  border-bottom: 1px solid #EDF1F4;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

button {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #37A0E0;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  margin-top: 23px;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover{
  background-color: #4cb4f4;
}

.forgot-password {
  text-align: center;
  padding-top: 22px;
}
a {
  color: #37A0E0;
  font-size: 15px;
  font-weight: 600;
}

label {
  color: #4F4F4F;
  font-size: large;
}

li{
  list-style-type: square;
  color: #55555E;
  font-size: 10.5pt;
}