#!/bin/bash -e

VAULT_ROOT_INSTALL="{{.vault_root_install}}"

sudo mkdir -p "${VAULT_ROOT_INSTALL}"
sudo mkdir -p "${VAULT_ROOT_INSTALL}/certs"
sudo mkdir -p "${VAULT_ROOT_INSTALL}/plugins"
sudo mkdir -p "${VAULT_ROOT_INSTALL}/vault_data/data"

sudo cp resources/vault_properties.hcl "${VAULT_ROOT_INSTALL}/"
sudo cp trc_seeds/certs/* "${VAULT_ROOT_INSTALL}/certs/"
