#!/bin/bash -e

# Using heredoc '<<'' in terraform doesn't
# allow for terraform variable substitution.
# it's neccessary to insert '<<' as a variable
# to add the host and host port to the script.
# ${write_service} serves this purpose.
cat << EOF >/tmp/upstart
[Unit]
Description=Vault Service
After=systemd-user-sessions.service

[Install]
WantedBy=multi-user.target
WantedBy=sysinit.target

[Service]
Environment="VAULT_API_ADDR=https://{{.vault_ip}}:{{.hostport}}"
Environment="GOMAXPROCS=$(nproc)"
ExecStart={{.vault_root_install}}/vault server -config {{.vault_root_install}}/vault_properties.hcl
User=root
LimitMEMLOCK=infinity
Type=simple
Restart=on-failure
RestartSec=10
PrivateTmp=true  # Set to false for trcsh
PrivateDevices=false # Figure out how to make this true...
PrivateNetwork=false
ProtectSystem=full

[Install]
WantedBy=multi-user.target

EOF
sudo mv /tmp/upstart /lib/systemd/system/vault.service
sudo chown root:root /lib/systemd/system/vault.service
sudo chmod 0644 /lib/systemd/system/vault.service

# Start Vault
#sudo systemctl enable /lib/systemd/system/vault.service
